.jumbotron{
  background-image: url('../../assets/home2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  color: aliceblue;

}

h1{
  font-family: Alisandra Demo ;
  font-size: 80px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px 9px 14px rgba(0, 0, 0, 0.2),
    0px 12px 23px rgba(0, 0, 0, 0.1);

}

h3{

  font-size: 20px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px 9px 14px rgba(0, 0, 0, 0.2),
    0px 12px 23px rgba(0, 0, 0, 0.1);

}

#Search_results{
  position: relative;
  left: 100px;

}

#search_inputGroup{
  position: relative;
  bottom: 40px;
}

.card-img{
  height: 100%;
}

.card{
  width: 1000px;
}

